$base-width: fit-content;


$head_side_bac: #171717;
$red_color: #900218;
$disabled_background: #26272A;


$numbers_color: #D26637;
$focus_color2: #FF8000;
$focus_color: #E81123;


$_1: #019AFC;



$_background: #010101;
$_mainpadding: 10px;
$_sidebar_width: 70px;

$_color1: #900218;
$_color2: #E50914;
$_color3: #161616;
$_color4: #FF8000;


$color1: #3799FE;
$color2: #3260FB;
$color3: #2140A7;
$color4: #162A6F;
